{% extends 'blitz/_utilities/diagnostics/layout.twig' %}

{% if page is null %}
    {% redirect 'utilities/blitz-diagnostics' %}
{% endif %}

{% block content %}

    <div id="crumbs">
        <ul class="breadcrumb-list">
            <li>
                <a href="{{ cpUrl('utilities/blitz-diagnostics') }}">
                    {{ 'Tracked Pages'|t('blitz') }}
                </a>
            </li>
            <li class="code">
                <a href="{{ cpUrl('utilities/blitz-diagnostics', { id: page.id }) }}">
                    /{{ page.uri }}
                </a>
            </li>
            <li class="code">
                {{ className(elementType) }}
            </li>
        </ul>
    </div>

    <h1>
        Tracked {{ elementType.pluralDisplayName }}
    </h1>

    {{ sprig('blitz/_utilities/diagnostics/components/elements', {
        id: page.id,
        elementType: className(elementType),
        displayName: elementType.displayName,
        displayNamePlural: elementType.pluralLowerDisplayName,
        hasUris: elementType.hasUris,
    }) }}

{% endblock %}
