{% import '_includes/forms' as forms %}

{% if page is null %}
    {% redirect 'utilities/blitz-diagnostics' %}
{% endif %}

<ul class="breadcrumb-list">
    <li>
        <a href="{{ cpUrl('utilities/blitz-diagnostics') }}">
            {{ 'Tracked Pages'|t('blitz') }}
        </a>
    </li>
    <li class="code">
        <a href="{{ cpUrl('utilities/blitz-diagnostics', { id: page.id }) }}">
            /{{ page.uri }}
        </a>
    </li>
    <li class="code">
        {{ elementType }}
    </li>
</ul>

<h1 style="margin-top: 40px;">
    {{ elements|length ? 'Tracked Elements'|t('blitz') : 'No Tracked Elements'|t('blitz') }}
</h1>

{% if elements|length %}
    <div class="elements" style="margin-top: 1rem;">
        <table class="data fullwidth">
            <thead>
                <tr>
                    <th>
                        {{ 'Title'|t('blitz') }}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for element in elements %}
                    <tr>
                        <td>
                            <div class="element small hasstatus">
                                <span class="status {{ element.status }}"></span>
                                <a href="{{ element.cpEditUrl }}" class="go" target="_blank">
                                    {{- element.title -}}
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
