{% extends 'blitz/_utilities/diagnostics/layouts/base' %}

{% block content %}

    <header id="header">
        <div class="page-title flex">
            <h1>{{ 'Site Tracking'|t('blitz') }}</h1>
            {% if craft.app.getIsMultiSite() %}
                {% include '_elements/sitemenu' with {
                    selectedSiteId: siteId,
                    urlFormat: 'utilities/blitz-diagnostics?site={handle}',
                } only %}
            {% endif %}
        </div>
    </header>
    <h2>
        <a href="{{ url('utilities/blitz-diagnostics/pages') }}">
            {% set count = craft.blitz.diagnostics.getPagesCount(siteId) %}
            {{ count|number }}
            {{ '{num, plural, =1{Tracked Page} other{Tracked Pages}}'|t('blitz', { num: count }) }}
        </a>
    </h2>
    <h2>
        <a href="{{ url('utilities/blitz-diagnostics/params') }}">
            {% set count = craft.blitz.diagnostics.getParamsCount(siteId) %}
            {{ count|number }}
            {{ '{num, plural, =1{Tracked Query String Param} other{Tracked Query String Params}}'|t('blitz', { num: count }) }}
        </a>
    </h2>
    <h2>
        <a href="{{ url('utilities/blitz-diagnostics/elements') }}">
            {% set count = craft.blitz.diagnostics.getElementsCount(siteId) %}
            {{ count|number }}
            {{ '{num, plural, =1{Tracked Element} other{Tracked Elements}}'|t('blitz', { num: count }) }}
        </a>
    </h2>
    <h2>
        <a href="{{ url('utilities/blitz-diagnostics/element-queries') }}">
            {% set count = craft.blitz.diagnostics.getElementQueriesCount(siteId) %}
            {{ count|number }}
            {{ '{num, plural, =1{Tracked Element Query} other{Tracked Element Queries}}'|t('blitz', { num: count }) }}
        </a>
    </h2>
    <br>
    <h2>
        {{ 'Recommendations'|t('blitz') }}
    </h2>
    <p>
        {% if craft.app.request.isWebAliasSetDynamically %}
            <span class="warning" title="Warning" aria-label="Warning" data-icon="alert"></span>
            The <a href="https://craftcms.com/docs/4.x/config/#aliases" target="_blank">@web alias</a> should be explicitly overridden to ensure that URLs work correctly with console requests. <a href="https://putyourlightson.com/plugins/blitz#the-site-is-not-cached-when-using-console-commands" target="_blank" class="go">Learn more</a>
        {% else %}
            <span class="success" title="Passed" aria-label="Passed" data-icon="check"></span>
            The <a href="https://craftcms.com/docs/4.x/config/#aliases" target="_blank">@web alias</a> is explicitly overridden.
        {% endif %}
    </p>
    <p>
        {% if craft.app.config.general.runQueueAutomatically %}
            <span class="warning" title="Warning" aria-label="Warning" data-icon="alert"></span>
            Pending queue jobs are configured to run automatically via web requests, which can cause queue jobs to stall. <a href="https://putyourlightson.com/plugins/blitz#the-refresh-cache-queue-job-is-stalling" target="_blank" class="go">Learn more</a>
        {% else %}
            <span class="success" title="Passed" aria-label="Passed" data-icon="check"></span>
            The <a href="https://craftcms.com/docs/4.x/config/#aliases" target="_blank">@web alias</a> is being explicitly overridden.
        {% endif %}
    </p>
    <p>
        {% if craft.app.plugins.getPlugin('async-queue') is not null %}
            <span class="warning" title="Warning" aria-label="Warning" data-icon="alert"></span>
            The <a href="https://plugins.craftcms.com/async-queue" target="_blank">Async Queue</a> plugin is enabled, which can be unreliable and cause queue jobs to stall. <a href="https://putyourlightson.com/plugins/blitz#the-refresh-cache-queue-job-is-stalling" target="_blank" class="go">Learn more</a>
        {% else %}
            <span class="success" title="Passed" aria-label="Passed" data-icon="check"></span>
            The <a href="https://plugins.craftcms.com/async-queue" target="_blank">Async Queue</a> plugin is not enabled.
        {% endif %}
    </p>

{% endblock %}
