{# @var settings \putyourlightson\blitz\models\SettingsModel #}
{% set settings = craft.app.plugins.plugin('blitz').settings %}

<div class="blitz-diagnostics">
    <header id="header">
        <div class="page-title flex">
            <h1>{{ 'Site Tracking'|t('blitz') }}</h1>
            {% if craft.app.getIsMultiSite() %}
                {% include '_elements/sitemenu' with {
                    selectedSiteId: siteId,
                    urlFormat: 'utilities/blitz-diagnostics?site={handle}',
                } only %}
            {% endif %}
        </div>
    </header>
    <h2>
        <a href="{{ cpUrl('blitz/diagnostics/pages') }}">
            {% set count = craft.blitz.diagnostics.getPagesCount(siteId) %}
            {{ count|number }}
            {{ '{num, plural, =1{Tracked Page} other{Tracked Pages}}'|t('blitz', { num: count }) }}
        </a>
    </h2>
    <h2>
        <a href="{{ cpUrl('blitz/diagnostics/params') }}">
            {% set count = craft.blitz.diagnostics.getParamsCount(siteId) %}
            {{ count|number }}
            {{ '{num, plural, =1{Tracked Query String Param} other{Tracked Query String Params}}'|t('blitz', { num: count }) }}
        </a>
    </h2>
    <h2>
        <a href="{{ cpUrl('blitz/diagnostics/elements') }}">
            {% set count = craft.blitz.diagnostics.getElementsCount(siteId) %}
            {{ count|number }}
            {{ '{num, plural, =1{Tracked Element} other{Tracked Elements}}'|t('blitz', { num: count }) }}
        </a>
    </h2>
    <h2>
        <a href="{{ cpUrl('blitz/diagnostics/element-queries') }}">
            {% set count = craft.blitz.diagnostics.getElementQueriesCount(siteId) %}
            {{ count|number }}
            {{ '{num, plural, =1{Tracked Element Query} other{Tracked Element Queries}}'|t('blitz', { num: count }) }}
        </a>
    </h2>
    <div class="recommendations">
        <h1>
            {{ 'Recommendations'|t('blitz') }}
        </h1>
        {% for test in craft.blitz.diagnostics.getTests() %}
            <p>
                {% if test.pass %}
                    <span class="success" title="Passed" aria-label="Passed" data-icon="check"></span>
                {% else %}
                    <span class="warning" title="Warning" aria-label="Warning" data-icon="alert"></span>
                {% endif %}
                {{ test.message|raw }}
                {% if test.info ?? null %}
                    <span class="info">
                        {{ test.info|raw }}
                    </span>
                {% endif %}
            </p>
        {% endfor %}
    </div>
</div>
