{% extends 'blitz/_utilities/diagnostics/layouts/base' %}

{% block content %}

    <h1>
        <a href="{{ url('utilities/blitz-diagnostics/pages') }}" class="go">
            {{ 'Tracked Pages'|t('blitz') }}
        </a>
    </h1>
    <h1>
        <a href="{{ url('utilities/blitz-diagnostics/query-strings') }}" class="go">
            {{ 'Tracked Query Strings'|t('blitz') }}
        </a>
    </h1>
    <h1>
        <a href="" class="go">
            {{ 'Tracked Elements'|t('blitz') }}
        </a>
    </h1>
    <h1>
        <a href="" class="go">
            {{ 'Tracked Element Queries'|t('blitz') }}
        </a>
    </h1>

{% endblock %}
