{% extends 'blitz/_utilities/diagnostics/layouts/base' %}

{% block content %}

    <header id="header">
        <div class="page-title flex">
            <h1>{{ 'Site Tracking'|t('blitz') }}</h1>
            {% if craft.app.getIsMultiSite() %}
                {% include '_elements/sitemenu' with {
                    selectedSiteId: siteId,
                    urlFormat: 'utilities/blitz-diagnostics?site={handle}',
                } only %}
            {% endif %}
        </div>
    </header>
    <h2>
        <a href="{{ url('utilities/blitz-diagnostics/pages') }}">
            {% set count = craft.blitz.diagnostics.getPagesCount(siteId) %}
            {{ count|number }}
            {{ '{num, plural, =1{Tracked Page} other{Tracked Pages}}'|t('blitz', { num: count }) }}
        </a>
    </h2>
    <h2>
        <a href="{{ url('utilities/blitz-diagnostics/params') }}">
            {% set count = craft.blitz.diagnostics.getParamsCount(siteId) %}
            {{ count|number }}
            {{ '{num, plural, =1{Tracked Query String Param} other{Tracked Query String Params}}'|t('blitz', { num: count }) }}
        </a>
    </h2>
    <h2>
        <a href="{{ url('utilities/blitz-diagnostics/elements') }}">
            {% set count = craft.blitz.diagnostics.getElementsCount(siteId) %}
            {{ count|number }}
            {{ '{num, plural, =1{Tracked Element} other{Tracked Elements}}'|t('blitz', { num: count }) }}
        </a>
    </h2>
    <h2>
        <a href="{{ url('utilities/blitz-diagnostics/element-queries') }}">
            {% set count = craft.blitz.diagnostics.getElementQueriesCount(siteId) %}
            {{ count|number }}
            {{ '{num, plural, =1{Tracked Element Query} other{Tracked Element Queries}}'|t('blitz', { num: count }) }}
        </a>
    </h2>
    <br>
    <h2>
        {{ 'Recommendations'|t('blitz') }}
    </h2>
    <p>
        {% set globalSetCount = craft.globalSets.count %}
        {% if globalSetCount > 0 %}
            {% if craft.app.plugins.plugin('blitz').settings.refreshCacheAutomaticallyForGlobals %}
                <span class="warning" title="Warning" aria-label="Warning" data-icon="alert"></span>
                {{ globalSetCount }} <a href="https://craftcms.com/docs/4.x/globals.html" target="">{{ '{num, plural, =1{global} other{globals}}'|t('blitz', { num: globalSetCount }) }}</a> exist and <code>refreshCacheAutomaticallyForGlobals</code> is set to <code>true</code>.
            {% else %}
                <span class="success" title="Passed" aria-label="Passed" data-icon="check"></span>
                {{ globalSetCount }} <a href="https://craftcms.com/docs/4.x/globals.html" target="">{{ '{num, plural, =1{global} other{globals}}'|t('blitz', { num: globalSetCount }) }}</a> exist and <code>refreshCacheAutomaticallyForGlobals</code> is set to <code>false</code>.
            {% endif %}
        {% else %}
            <span class="success" title="Passed" aria-label="Passed" data-icon="check"></span>
            No globals exist.
        {% endif %}
        <span class="info">
            Globals should be avoided, since they are preloaded on every page in your site, unless the <code>refreshCacheAutomaticallyForGlobals</code> config setting is set to <code>false</code>. <a href="https://putyourlightson.com/plugins/blitz#2-avoid-using-globals" target="_blank" class="go">Learn more</a>
        </span>
    </p>
    <p>
        {% if craft.app.request.isWebAliasSetDynamically %}
            <span class="warning" title="Warning" aria-label="Warning" data-icon="alert"></span>
            The <a href="https://craftcms.com/docs/4.x/config/#aliases" target="_blank"><code>@web</code></a> alias should be explicitly overridden.
        {% else %}
            <span class="success" title="Passed" aria-label="Passed" data-icon="check"></span>
            The <a href="https://craftcms.com/docs/4.x/config/#aliases" target="_blank"><code>@web</code></a> alias is explicitly overridden.
        {% endif %}
        <span class="info">
            Explicitly overriding the <a href="https://craftcms.com/docs/4.x/config/#aliases" target="_blank"><code>@web</code></a> alias is important for ensuring that URLs work correctly with console requests. <a href="https://putyourlightson.com/plugins/blitz#the-site-is-not-cached-when-using-console-commands" target="_blank" class="go">Learn more</a>
        </span>
    </p>
    <p>
        {% if not craft.app.config.general.generateTransformsBeforePageLoad %}
            <span class="warning" title="Warning" aria-label="Warning" data-icon="alert"></span>
            The <a href="https://craftcms.com/docs/4.x/config/general.html#generatetransformsbeforepageload" target="_blank"><code>generateTransformsBeforePageLoad</code></a> general config setting is set to <code>false</code>.
        {% else %}
            <span class="success" title="Passed" aria-label="Passed" data-icon="check"></span>
            The <a href="https://craftcms.com/docs/4.x/config/general.html#generatetransformsbeforepageload" target="_blank"><code>generateTransformsBeforePageLoad</code></a> general config setting is set to <code>true</code>.
        {% endif %}
        <span class="info">
            Blitz does not cache pages that contain asset transform generation URLs, as doing so can lead to cached pages that perform poorly. <a href="https://putyourlightson.com/plugins/blitz#the-site-is-not-cached-when-i-visit-it" target="_blank" class="go">Learn more</a>
        </span>
    </p>
    <p>
        {% if craft.app.plugins.getPlugin('async-queue') is not null %}
            <span class="warning" title="Warning" aria-label="Warning" data-icon="alert"></span>
            The <a href="https://plugins.craftcms.com/async-queue" target="_blank">Async Queue</a> plugin is enabled.
        {% else %}
            <span class="success" title="Passed" aria-label="Passed" data-icon="check"></span>
            The <a href="https://plugins.craftcms.com/async-queue" target="_blank">Async Queue</a> plugin is not enabled.
        {% endif %}
        <span class="info">
            The <a href="https://plugins.craftcms.com/async-queue" target="_blank">Async Queue</a> plugin can be unreliable when used in certain web servers and cause queue jobs to stall. <a href="https://putyourlightson.com/plugins/blitz#the-refresh-cache-queue-job-is-stalling" target="_blank" class="go">Learn more</a>
        </span>
    </p>
    <p>
        {% set hintsCount = craft.blitz.diagnostics.hintsCount %}
        {% if hintsCount > 0 %}
            <span class="warning" title="Warning" aria-label="Warning" data-icon="alert"></span>
        {% else %}
            <span class="success" title="Passed" aria-label="Passed" data-icon="check"></span>
        {% endif %}
        The <a href="{{ cpUrl('utilities/blitz-hints') }}">Blitz Hints</a> utility is reporting <code>{{ hintsCount }}</code> eager-loading {{ '{num, plural, =1{opportunity} other{opportunities}}'|t('blitz', { num: hintsCount }) }}.
        <span class="info">
            Always use eager-loading in your templates. The Blitz Hints utility lists opportunities for eager-loading elements including the field name, the template and the line number. <a href="https://putyourlightson.com/plugins/blitz#hints-utility" target="_blank" class="go">Learn more</a>
        </span>
    </p>
    <p>
        {% if craft.app.config.general.runQueueAutomatically %}
            <span class="warning" title="Warning" aria-label="Warning" data-icon="alert"></span>
            Queue jobs are configured to run automatically via web requests.
        {% else %}
            <span class="success" title="Passed" aria-label="Passed" data-icon="check"></span>
            Queue jobs are configured to not run automatically via web requests.
        {% endif %}
        <span class="info">
            Running queue jobs via web requests can negatively impact the performance of a site and cause queue jobs to stall. <a href="https://putyourlightson.com/plugins/blitz#the-refresh-cache-queue-job-is-stalling" target="_blank" class="go">Learn more</a>
        </span>
    </p>
    <p>
        {% set refreshExpired = craft.blitz.diagnostics.driverDataAction('refresh-expired-cli') %}
        {% if refreshExpired is null or refreshExpired < craft.blitz.diagnostics.dateForDb(now|date_modify('-24 hours')) %}
            <span class="warning" title="Warning" aria-label="Warning" data-icon="alert"></span>
            The <code>blitz/cache/refresh-expired</code> console command has not been executed within the past 24 hours.
        {% else %}
            <span class="success" title="Passed" aria-label="Passed" data-icon="check"></span>
            The <code>blitz/cache/refresh-expired</code> console command has been executed within the past 24 hours.
        {% endif %}
        <span class="info">
            The console command not having been executed within the past 24 hours can indicate that a scheduled cron job should be set up to refresh expired cache on a recurring interval. <a href="https://putyourlightson.com/plugins/blitz#cron-jobs" target="_blank" class="go">Learn more</a>
        </span>
    </p>

{% endblock %}
