{% import '_includes/forms' as forms %}

{% do sprig.setConfig({ requestClass: 'busy' }) %}
{% set id = craft.app.request.getParam('id') %}

<nav aria-label="Breadcrumbs" style="margin: -15px 0;">
    <ul class="breadcrumb-list">
        <li>
            <a href="{{ cpUrl('utilities/blitz-diagnostics') }}">
                {{ 'Tracked Pages'|t('blitz') }}
            </a>
        </li>
        <li class="code">
            /{{ pageUri }}
        </li>
    </ul>
</nav>

{{ sprig('blitz/_utilities/diagnostics/components/elementTypes', { id: id }) }}

{{ sprig('blitz/_utilities/diagnostics/components/elementTypeQueries', { id: id }) }}
