{% import '_includes/forms' as forms %}

<div class="data">
    <div class="heading">
        {{ 'Status'|t('blitz') }}
    </div>
    <div class="value live" style="justify-content: space-between">
        {% if cached %}
            <div>
                {{ expired ? 'Expired'|t('blitz') : 'Cached'|t('blitz') }}
                {% if currentUser.can('utility:blitz-diagnostics') %}
                    <a href="{{ url('blitz/diagnostics/pages/page', { pageId: pageId }) }}" target="_blank">
                        <span data-icon="tool" style="vertical-align: text-bottom"></span>
                    </a>
                {% endif %}
            </div>
            {% if currentUser.can('blitz:refresh-page') %}
                {{ tag('button', {
                    text: 'Refresh'|t('blitz'),
                    class: 'refresh btn small',
                    data: {
                        action: refreshActionUrl,
                    },
                }) }}
            {% endif %}
        {% elseif isCacheable %}
            {{ 'Uncached'|t('blitz') }}
        {% else %}
            <div>
                {{ 'Not cacheable'|t('blitz') }}
                <span class="info">
                    {{ 'This page is not cacheable due to the Blitz URI pattern settings.'|t('blitz') }}
                    {% if currentUser.admin and craft.app.config.general.allowAdminChanges %}
                        <br>
                        <a href="{{ url('settings/plugins/blitz') }}" class="go" target="_blank">
                            {{- 'View settings'|t('blitz') -}}
                        </a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
    <div class="value refreshed hidden">
        <div>
            {{ 'Refreshed'|t('blitz') }}
            <span class="success" style="vertical-align: text-bottom;" data-icon="check"></span>
        </div>
    </div>
</div>
{% if cached %}
    {% if dateCached %}
        <div class="data live">
            <div class="heading">
                {{ 'Cached at'|t('blitz') }}
            </div>
            <div class="value" style="justify-content: space-between">
                {{ dateCached|datetime('short') }}
            </div>
        </div>
    {% endif %}
    {% if expiryDate %}
        <div class="data live">
            <div class="heading">
                {{ expired ? 'Expired at'|t('blitz') : 'Expires at'|t('blitz') }}
            </div>
            <div class="value">
                {{ expiryDate|datetime('short') }}
            </div>
        </div>
    {% endif %}
{% endif %}

{% css %}
    .blitz-element-sidebar .meta .data {
        min-height: 0;
    }
    .blitz-element-sidebar .meta .data:first-of-type {
        padding-top: 8px;
    }
    .blitz-element-sidebar .meta .data:last-of-type {
        padding-bottom: 8px;
    }
{% endcss %}

{% js %}
    $('.blitz-element-sidebar .refresh').click(function(event) {
        event.preventDefault();

        if ($(this).hasClass('disabled')) {
            return;
        }

        $(this).addClass('disabled');

        Craft.sendActionRequest('POST', $(this).data('action'))
        .then((response) => {
            Craft.cp.displaySuccess(response.data.message);
            $('.blitz-element-sidebar .live').remove();
            $('.blitz-element-sidebar .refreshed').removeClass('hidden');
        })
        .catch(({response}) => {
            if (response.data.message) {
                Craft.cp.displayError(response.data.message);
            }
            else {
                Craft.cp.displayError();
            }
        })
        .finally(() => {
            $(this).removeClass('disabled');
        });
    });
{% endjs %}
