{% import '_includes/forms' as forms %}

<fieldset class="blitz-sidebar-panel">
    <legend class="h6">
        {{ 'Blitz Cache'|t('blitz') }}
    </legend>
    <div class="meta">
        <div class="data">
            <div class="heading">
                {{ 'Status'|t('blitz') }}
            </div>
            <div class="value cacheStatus" style="justify-content: space-between">
                {% if cached %}
                    {{ expired ? 'Expired'|t('blitz') : 'Cached'|t('blitz') }}
                    {{ tag('button', {
                        text: 'Refresh'|t('blitz'),
                        class: 'refresh btn small',
                        data: {
                            action: refreshActionUrl,
                        },
                    }) }}
                {% else %}
                    {{ 'Uncached'|t('blitz') }}
                {% endif %}
            </div>
        </div>
        {% if cached %}
            {% if dateCached %}
                <div class="data date">
                    <div class="heading">
                        {{ 'Cached at'|t('blitz') }}
                    </div>
                    <div class="value dateCached">
                        {{ dateCached|datetime('short') }}
                    </div>
                </div>
            {% endif %}
            {% if expiryDate %}
                <div class="data date">
                    <div class="heading">
                        {{ 'Expiry Date'|t('blitz') }}
                    </div>
                    <div class="value expiryDate">
                        {{ expiryDate|datetime('short') }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</fieldset>

{% css %}
    .blitz-sidebar-panel .meta .data:first-of-type {
        padding-top: 8px;
    }
    .blitz-sidebar-panel .meta .data:last-of-type {
        padding-bottom: 8px;
    }
    .blitz-sidebar-panel .meta .data {
        min-height: 0;
    }
{% endcss %}

{% js %}
    $('.blitz-sidebar-panel .refresh').click(function(event) {
        event.preventDefault();

        if ($(this).hasClass('disabled')) {
            return;
        }

        $(this).addClass('disabled');

        Craft.sendActionRequest('POST', $(this).data('action'))
        .then((response) => {
            Craft.cp.displaySuccess(response.data.message);
            $('.blitz-sidebar-panel .cacheStatus').html(Craft.t('blitz', 'Refreshed'));
            $('.blitz-sidebar-panel .date').html('');
        })
        .catch(({response}) => {
            if (response.data.message) {
                Craft.cp.displayError(response.data.message);
            }
            else {
                Craft.cp.displayError();
            }
        })
        .finally(() => {
            $(this).removeClass('disabled');
        });
    });
{% endjs %}
