{% import '_includes/forms' as forms %}

{% set hints = craft.blitz.hints.getAll() %}

<div class="blitz-hints" s-indicator="this">
    <div class="buttons first flex-justify-end">
        <div class="revision-spinner spinner hidden" title="Refreshing"></div>
        {% if sprig.isRequest %}
            <div class="checkmark-icon" title="Refreshed"></div>
        {% endif %}
        <button sprig class="btn">
            {{ 'Refresh'|t('app') }}
        </button>
        <button sprig s-method="post" s-action="blitz/hints/clear-all" class="btn submit">
            {{ 'Clear all'|t('app') }}
        </button>
    </div>
    <div class="readable">
        <table id="hints" class="data fullwidth fixed-layout">
            <thead>
                <tr>
                    <th>Hint</th>
                    <th>Template</th>
                    <th class="nowrap">Last Occurrence</th>
                    <th style="width: 14px;"></th>
                </tr>
            </thead>
            <tbody>
                {% for hint in hints %}
                    <tr>
                        <td>
                            {% set fieldHandle = hint.field.handle ?? 'relationFieldHandle' %}
                            Eager-load the {{ hint.field ? '“' ~ hint.field.name ~ '”' : 'relation' }} field.
                            <span class="info" style="vertical-align: top;">
                                Eager-load the {{ hint.field ? ('<code>' ~ fieldHandle ~ '</code>')|raw : 'relation' }} field using <a href="https://craftcms.com/docs/5.x/development/eager-loading.html#lazy-eager-loading" target="_blank">lazy-eager-loading</a>:
                                <pre><code>&#123;% set result = entry.{{ fieldHandle }}.eagerly().all() %&#125;</code></pre>
                                Or the <a href="https://craftcms.com/docs/5.x/development/eager-loading.html#the-with-query-param" target="_blank"><code>with()</code></a> query param:
                                <pre><code>
                                    {{- "{% set entries = craft.entries" -}}
                                        {{- "\n    .with('" ~ fieldHandle ~ "')" -}}
                                        {{- "\n    .all()" -}}
                                        {{- "\n%}" -}}
                                </code></pre>
                                <a href="https://craftcms.com/docs/5.x/development/eager-loading.html" class="go" target="_blank">Learn more</a>
                            </span>
                        </td>
                        <td class="code">
                            {{ hint.template|e|replace('/', '/<wbr>')|raw }}
                            {{- hint.line ? ':' ~ hint.line }}
                            <span class="info">
                                {% for trace in hint.stackTrace %}
                                    {% set index = loop.index0 %}
                                    {% set output -%}
                                        {% for i in 0..index %}→{% endfor %}
                                    {%- endset %}
                                    {{ output|slice(1)|raw }}
                                    <code>
                                        {{ trace|e|replace('/', '/<wbr>')|raw }}
                                    </code>
                                    <br>
                                {% endfor %}
                            </span>
                        </td>
                        <td>
                            {{ hint.dateUpdated|timestamp }}
                        </td>
                        <td>
                            <a sprig s-method="post" s-action="blitz/hints/clear" s-val:id="{{ hint.id }}" class="delete icon" title="{{ 'Delete'|t('app') }}" role="button"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p id="nohints" class="zilch {% if hints|length %}hidden{% endif %}">
            No hints to report!
        </p>
    </div>
</div>

{% if sprig.isRequest %}
    <script>
        Craft.initUiElements($('#hints'));
        setTimeout(() => {
            $('.checkmark-icon').fadeOut();
        }, 1000);
    </script>
{% endif %}
