<div class="blitz-diagnostics">

    {% if crumbs is defined %}
        <div id="crumbs" class="hidden">
            <ul class="breadcrumb-list">
                <li>
                    <a href="{{ url('utilities/blitz-diagnostics') }}">
                        {{ 'Blitz Diagnostics'|t('blitz') }}
                    </a>
                </li>
                {% for crumb in crumbs %}
                    <li class="{{ crumb.class ?? '' }}">
                        {% if crumb.path ?? false %}
                            <a href="{{ url('utilities/blitz-diagnostics/' ~ crumb.path) }}">
                                {{ crumb.label|t('blitz') }}
                            </a>
                        {% else %}
                            {{ crumb.label|t('blitz') }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% block content %}{% endblock %}

</div>
