{% set orderBy = orderBy ?? (pageId is defined ? 'title' : 'count') %}
{% set sortBy = sortBy ?? (pageId is defined ? 'asc' : 'desc') %}
{% set offset = offset ?? 0 %}
{% set limit = 50 %}
{% set search = search ?? null %}

{% set query = craft.blitz.diagnostics.getElementsQuery(siteId, elementType, pageId ?? null)
    .orderBy({ (orderBy): (sortBy == 'desc' ? SORT_DESC : SORT_ASC) }) %}
{% if search %}
    {% do query.andWhere(['like', 'title', search]) %}
{% endif %}

{# The count can only be correctly calculated without a limit. #}
{% set total = clone(query).count() %}
{% set rows = query
    .offset(offset)
    .limit(limit)
    .all() %}
{% set elementIds = rows|map(row => row.elementId) %}
{% set elements = craft.blitz.diagnostics.getElementsFromIds(siteId, elementType, elementIds) %}

<div s-replace="#elements" s-swap="outerHTML show:#main:top" s-indicator="#elements .elements">
    <header id="header">
        <div class="page-title flex">
            <h1>{{ pluralDisplayName }}</h1>
        </div>
        <div id="toolbar" class="flex">
            <div class="search-container flex-grow texticon has-filter-btn">
                <span class="texticon-icon search icon" aria-hidden="true"></span>
                <input sprig s-trigger="keyup changed delay:400ms" name="search" type="text" class="clearable text fullwidth" autocomplete="off" placeholder="Search">
            </div>
        </div>
    </header>
    <div id="elements">
        {{ hiddenInput('orderBy', orderBy) }}
        {{ hiddenInput('sortBy', sortBy) }}
        <div class="elements">
            <table class="data fullwidth">
                <thead>
                    <tr>
                        <th class="{{ orderBy == 'title' ? 'ordered' }} {{ sortBy == 'desc' ? 'desc' }} orderable">
                            <button type="button" sprig s-val:order-by="title" s-val:sort-by="{{ orderBy == 'title' and sortBy == 'asc' ? 'desc' : 'asc' }}">
                                {{ displayName }}
                            </button>
                        </th>
                        {% if pageId is not defined %}
                            <th class="{{ orderBy == 'count' ? 'ordered' }} {{ sortBy == 'desc' ? 'desc' }} orderable">
                                <button type="button" sprig s-val:order-by="count" s-val:sort-by="{{ orderBy == 'count' and sortBy == 'desc' ? 'asc' : 'desc' }}">
                                    {{ 'Pages'|t('blitz') }}
                                </button>
                            </th>
                        {% endif %}
                        {% if hasUris %}
                            <th>
                                <span data-icon="world"></span>
                            </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        {% set element = elements[row.elementId] %}
                        <tr>
                            <td>
                                {{ include ('_elements/element') }}
                            </td>
                            {% if pageId is not defined %}
                                <td>
                                    {{ row.count }}
                                </td>
                            {% endif %}
                            {% if hasUris %}
                                <td data-title="Link" data-attr="link">
                                    {% set url = element.url %}
                                    {% if url %}
                                        <a href="{{ url }}" title="Visit webpage" rel="noopener" target="_blank" data-icon="world" aria-label="View"></a>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="update-spinner spinner spinner-absolute"></div>
        </div>
        {{ include('blitz/_utilities/diagnostics/includes/footer', { rows: elements }) }}
    </div>
</div>
