{% set orderBy = orderBy ?? 'elementCount' %}
{% set sortBy = sortBy ?? 'desc' %}
{% set offset = offset ?? 0 %}
{% set limit = 50 %}
{% set search = search ?? null %}

{% set query = craft.blitz.diagnostics.getPagesQuery(siteId)
    .orderBy({ (orderBy): (sortBy == 'desc' ? SORT_DESC : SORT_ASC) })
    .offset(offset)
    .limit(limit) %}
{% if search %}
    {% if search == '/' %}
        {% do query.andWhere({ uri: ''} ) %}
    {% else %}
        {% do query.andWhere(['like', 'uri', search]) %}
    {% endif %}
{% endif %}

{% set total = query.count() %}
{% set rows = query.asArray().all() %}
{% set maxVisible = rows|length + offset %}

{{ hiddenInput('orderBy', orderBy) }}
{{ hiddenInput('sortBy', sortBy) }}

<div s-replace="#results" s-swap="outerHTML show:#main:top" s-indicator="#results .elements">
    <header id="header">
        <div class="page-title flex">
            <h1>{{ 'Tracked Pages'|t('blitz') }}</h1>
            {% if craft.app.getIsMultiSite() %}
                {% include '_elements/sitemenu' with {
                    selectedSiteId: siteId,
                    urlFormat: 'utilities/blitz-diagnostics/pages?site={handle}',
                } only %}
            {% endif %}
        </div>
        <div id="toolbar" class="flex">
            <div class="search-container flex-grow texticon has-filter-btn">
                <span class="texticon-icon search icon" aria-hidden="true"></span>
                <input sprig s-trigger="keyup changed delay:400ms" name="search" type="text" class="clearable text fullwidth" autocomplete="off" placeholder="Search">
            </div>
        </div>
    </header>
    <div id="results">
        <div class="elements">
            <table class="data fullwidth">
                <thead>
                    <tr>
                        <th class="{{ orderBy == 'uri' ? 'ordered' }} {{ sortBy == 'desc' ? 'desc' }} orderable">
                            <button type="button" sprig s-val:order-by="uri" s-val:sort-by="{{ orderBy == 'uri' and sortBy == 'asc' ? 'desc' : 'asc' }}">
                                {{ 'Page'|t('blitz') }}
                            </button>
                        </th>
                        <th class="{{ orderBy == 'elementCount' ? 'ordered' }} {{ sortBy == 'desc' ? 'desc' }} orderable">
                            <button type="button" sprig s-val:order-by="elementCount" s-val:sort-by="{{ orderBy == 'elementCount' and sortBy == 'asc' ? 'desc' : 'asc' }}">
                                {{ 'Elements'|t('blitz') }}
                            </button>
                        </th>
                        <th class="{{ orderBy == 'elementQueryCount' ? 'ordered' }} {{ sortBy == 'desc' ? 'desc' }} orderable">
                            <button type="button" sprig s-val:order-by="elementQueryCount" s-val:sort-by="{{ orderBy == 'elementQueryCount' and sortBy == 'asc' ? 'desc' : 'asc' }}">
                                {{ 'Element Queries'|t('blitz') }}
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td class="code">
                                <a href="{{ url('utilities/blitz-diagnostics/pages/page', { pageId: row.id }) }}">
                                    {{ row.uri ?: '/' }}
                                </a>
                            </td>
                            <td>
                                {{ (row.elementCount ?? 0)|number }}
                            </td>
                            <td>
                                {{ (row.elementQueryCount ?? 0)|number }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="update-spinner spinner spinner-absolute"></div>
        </div>
        {{ include('blitz/_utilities/diagnostics/includes/footer', {
            exportActionUrl: actionUrl('blitz/diagnostics/export', { siteId: siteId }),
        }) }}
    </div>
</div>
