{% set orderBy = orderBy ?? 'uri' %}
{% set sortBy = sortBy ?? 'asc' %}
{% set offset = offset ?? 0 %}
{% set limit = 50 %}
{% set search = search ?? null %}

{% set query = craft.blitz.diagnostics.getParamPagesQuery(siteId, param)
    .orderBy({ (orderBy): (sortBy == 'desc' ? SORT_DESC : SORT_ASC) })
    .offset(offset)
    .limit(limit) %}
{% if search %}
    {% do query.andWhere(['like', 'uri', search]) %}
{% endif %}

{% set total = query.count() %}
{% set rows = query.all() %}

<div s-replace="#pages" s-swap="outerHTML show:#main:top" s-indicator="#pages .elements">
    <header id="header">
        <div class="page-title flex">
            <h1>{{ pluralDisplayName }}</h1>
        </div>
        <div id="toolbar" class="flex">
            <div class="search-container flex-grow texticon has-filter-btn">
                <span class="texticon-icon search icon" aria-hidden="true"></span>
                <input sprig s-trigger="keyup changed delay:400ms" name="search" type="text" class="clearable text fullwidth" autocomplete="off" placeholder="Search">
            </div>
        </div>
    </header>
    <div id="pages">
        {{ hiddenInput('orderBy', orderBy) }}
        {{ hiddenInput('sortBy', sortBy) }}
        {{ hiddenInput('utility', 1) }}
        <div class="elements">
            <table class="data fullwidth">
                <thead>
                    <tr>
                        <th class="{{ orderBy == 'uri' ? 'ordered' }} {{ sortBy == 'desc' ? 'desc' }} orderable">
                            <button type="button" sprig s-val:order-by="uri" s-val:sort-by="{{ orderBy == 'uri' and sortBy == 'asc' ? 'desc' : 'asc' }}">
                                {{ displayName }}
                            </button>
                        </th>
                        <th class="thin">
                            <span data-icon="world"></span>
                        </th>
                        {% if currentUser.can('blitz:refresh-urls') %}
                            <th class="thin">
                                <span data-icon="refresh"></span>
                            </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        {% set uri = row.uri ?: '/' %}
                        {% set url = siteUrl(uri, null, null, siteId) %}
                        <tr>
                            <td class="code">
                                {{ uri }}
                            </td>
                            <td class="thin">
                                <a href="{{ url }}" title="Visit webpage" rel="noopener" target="_blank" data-icon="world" aria-label="View"></a>
                            </td>
                            {% if currentUser.can('blitz:refresh-urls') %}
                                <td class="thin">
                                    <a sprig s-action="blitz/cache/refresh-urls" s-method="post" s-val:urls="{{ url }}" title="Refresh" data-icon="refresh"></a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="update-spinner spinner spinner-absolute"></div>
        </div>
        {{ include('blitz/_utilities/diagnostics/includes/footer') }}
        {{ include('blitz/_utilities/diagnostics/includes/flashes') }}
    </div>
</div>
