{% set orderBy = orderBy ?? 'pageCount' %}
{% set sortBy = sortBy ?? 'desc' %}
{% set offset = offset ?? 0 %}
{% set limit = 50 %}
{% set search = search ?? null %}

{% set query = craft.blitz.diagnostics.getQueryStringsQuery(siteId)
    .orderBy({ (orderBy): (sortBy == 'desc' ? SORT_DESC : SORT_ASC) })
    .offset(offset)
    .limit(limit) %}
{% if search %}
    {% do query.andWhere(['like', 'uri', search]) %}
{% endif %}

{% set total = query.count() %}
{% set queryStrings = query.asArray().all() %}
{% set maxVisible = queryStrings|length + offset %}

{{ hiddenInput('orderBy', orderBy) }}
{{ hiddenInput('sortBy', sortBy) }}

<div s-replace="#results" s-swap="outerHTML show:#main:top" s-indicator="#results .elements">
    <header id="header">
        <div class="page-title flex">
            <h1>{{ 'Tracked Query Strings'|t('blitz') }}</h1>
            {% if craft.app.getIsMultiSite() %}
                {% include '_elements/sitemenu' with {
                    selectedSiteId: siteId,
                    urlFormat: 'utilities/blitz-diagnostics/query-strings?site={handle}',
                } only %}
            {% endif %}
        </div>
        <div id="toolbar" class="flex">
            <div class="search-container flex-grow texticon has-filter-btn">
                <span class="texticon-icon search icon" aria-hidden="true"></span>
                <input sprig s-trigger="keyup changed delay:400ms" name="search" type="text" class="clearable text fullwidth" autocomplete="off" placeholder="Search">
            </div>
        </div>
    </header>
    <div id="results">
        <div class="elements">
            <table class="data fullwidth">
                <thead>
                    <tr>
                        <th class="{{ orderBy == 'uri' ? 'ordered' }} {{ sortBy == 'desc' ? 'desc' }} orderable">
                            <button type="button" sprig s-val:order-by="uri" s-val:sort-by="{{ orderBy == 'uri' and sortBy == 'asc' ? 'desc' : 'asc' }}">
                                {{ 'Query String'|t('blitz') }}
                            </button>
                        </th>
                        <th class="{{ orderBy == 'pageCount' ? 'ordered' }} {{ sortBy == 'desc' ? 'desc' }} orderable">
                            <button type="button" sprig s-val:order-by="pageCount" s-val:sort-by="{{ orderBy == 'pageCount' and sortBy == 'asc' ? 'desc' : 'asc' }}">
                                {{ 'Pages'|t('blitz') }}
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for queryString in queryStrings %}
                        <tr>
                            <td class="code">
                                <a href="{{ cpUrl('utilities/blitz-diagnostics/query-strings/query-string', { queryString: queryString }) }}">
                                    {{ queryString.uri }}
                                </a>
                            </td>
                            <td>
                                {{ (queryString.pageCount ?? 0)|number }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="update-spinner spinner spinner-absolute"></div>
        </div>
        {{ include('blitz/_utilities/diagnostics/includes/footer', {
            results: queryStrings,
            itemName: 'query strings'|t('blitz'),
        }) }}
    </div>
</div>
