{% set orderBy = orderBy ?? (cacheId is defined ? 'title' : 'count') %}
{% set sortBy = sortBy ?? (cacheId is defined ? 'asc' : 'desc') %}
{% set offset = offset ?? 0 %}
{% set limit = 50 %}
{% set search = search ?? null %}
{% set order = { (orderBy): (sortBy == 'desc' ? SORT_DESC : SORT_ASC) } %}
{% if orderBy != 'title' %}
    {% set order = order|merge({ 'title': SORT_ASC }) %}
{% endif %}
{% set query = craft.blitz.diagnostics.getElementsQuery(siteId, elementType, cacheId ?? null)
    .orderBy(order) %}
{% if search %}
    {% do query.andWhere(['like', 'title', search]) %}
{% endif %}

{# The count can only be correctly calculated without a limit. #}
{% set total = clone(query).count() %}
{% set rows = query
    .offset(offset)
    .limit(limit)
    .all() %}
{% set elementIds = rows|map(row => row.elementId) %}
{% set elements = craft.blitz.diagnostics.getElementsFromIds(siteId, elementType, elementIds) %}
{% set isEntryElementType = elementType == 'craft\\elements\\Entry' %}

<div s-replace="#results" s-swap="outerHTML show:#main:top" s-indicator="#elements .elements">
    <div class="search-container flex-grow texticon has-filter-btn">
        <span class="texticon-icon search icon" aria-hidden="true"></span>
        <input sprig s-trigger="keyup changed delay:400ms" name="search" type="text" class="clearable text fullwidth" autocomplete="off" placeholder="Search">
    </div>
    <div id="results">
        {{ hiddenInput('orderBy', orderBy) }}
        {{ hiddenInput('sortBy', sortBy) }}
        <div class="elements">
            <table class="data fullwidth">
                <thead>
                    <tr>
                        <th class="{{ orderBy == 'title' ? 'ordered' }} {{ sortBy == 'desc' ? 'desc' }} orderable">
                            <button type="button" sprig s-val:order-by="title" s-val:sort-by="{{ orderBy == 'title' and sortBy == 'asc' ? 'desc' : 'asc' }}">
                                {{ displayName }}
                            </button>
                        </th>
                        {% if cacheId is defined %}
                            <th>
                                {{ 'Tracked Fields'|t('blitz') }}
                            </th>
                        {% else %}
                            <th class="{{ orderBy == 'count' ? 'ordered' }} {{ sortBy == 'desc' ? 'desc' }} orderable">
                                <button type="button" sprig s-val:order-by="count" s-val:sort-by="{{ orderBy == 'count' and sortBy == 'desc' ? 'asc' : 'desc' }}">
                                    {{ 'Pages/Includes'|t('blitz') }}
                                </button>
                            </th>
                        {% endif %}
                        <th class="{{ orderBy == 'expiryDate' ? 'ordered' }} {{ sortBy == 'desc' ? 'desc' }} orderable">
                            <button type="button" sprig s-val:order-by="expiryDate" s-val:sort-by="{{ orderBy == 'expiryDate' and sortBy == 'desc' ? 'asc' : 'desc' }}">
                                {{ 'Expiry Date'|t('blitz') }}
                            </button>
                        </th>
                        {% if hasUris %}
                            <th class="thin">
                                <span data-icon="world"></span>
                            </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        {% set element = elements[row.elementId] ?? null %}
                        {% if element %}
                            <tr>
                                <td>
                                    {{ elementChip(element)|replace({
                                        (element.cpEditUrl): url('blitz/diagnostics/elements/pages-includes', {
                                            siteId: siteId,
                                            elementId: element.id,
                                            elementType: elementType,
                                        })
                                    })|raw }}
                                </td>
                                {% if cacheId is defined %}
                                    <td>
                                        {% set fields = craft.blitz.diagnostics.getPageElementFields(cacheId, row.elementId) %}
                                        {{ fields|length|number }}
                                        {% if fields|length > 0 %}
                                            <span class="info">
                                                <h2>{{ 'Tracked Fields'|t('blitz') }}</h2>
                                                <table class="data fullwidth">
                                                    <thead>
                                                        <th>{{ 'Name'|t('app') }}</th>
                                                        <th>{{ 'Handle'|t('app') }}</th>
                                                        <th>{{ 'Field Type'|t('app') }}</th>
                                                        {% if isEntryElementType %}
                                                            <th>{{ 'Entry Type'|t('app') }}</th>
                                                        {% endif %}
                                                    </thead>
                                                    <tbody>
                                                        {% for field in fields %}
                                                            <tr>
                                                                <td class="thin">
                                                                    {{ field.name }}
                                                                </td>
                                                                <td class="thin code">
                                                                    {{ field.handle }}
                                                                </td>
                                                                <td class="thin">
                                                                    <div class="flex flex-nowrap gap-s">
                                                                        <div class="cp-icon small">
                                                                            {{ iconSvg(field.icon) }}
                                                                        </div>
                                                                        <a href="{{ url('settings/fields/edit/' ~ field.id) }}">
                                                                            {{ field.displayName }}
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                                {% if isEntryElementType %}
                                                                    <td class="thin">
                                                                        <a href="{{ url('settings/entry-types/' ~ element.typeId) }}">
                                                                            {{ element.type.name }}
                                                                        </a>
                                                                    </td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </span>
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td>
                                        {{ row.count }}
                                    </td>
                                {% endif %}
                                <td>
                                    {{ row.expiryDate ? craft.blitz.diagnostics.toDateTime(row.expiryDate)|datetime('short') }}
                                </td>
                                {% if hasUris %}
                                    <td>
                                        {% set url = element.url %}
                                        {% if url %}
                                            <a href="{{ url }}" title="Visit webpage" rel="noopener" target="_blank" data-icon="world" aria-label="View"></a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="update-spinner spinner spinner-absolute"></div>
        </div>
        {{ include('blitz/_utilities/diagnostics/_includes/footer', { rows: elements }) }}
    </div>
</div>
