{% set cacheId = cacheId ?? null %}
{% set sortBy = sortBy ?? 'asc' %}
{% set offset = offset ?? 0 %}
{% set limit = 50 %}

{% set search = search ?? null %}
{% set order = {
    ownerTitle: (sortBy == 'desc' ? SORT_DESC : SORT_ASC),
    sortOrder: SORT_ASC,
} %}
{% set query = craft.blitz.diagnostics.getNestedElementsQuery(siteId, elementType, cacheId)
    .orderBy(order) %}
{% if search %}
    {% do query.andWhere([
        'or',
        ['like', 'entrytypes.name', search],
        ['like', 'elements_owners_sites.title', search],
    ]) %}
{% endif %}

{# The count can only be correctly calculated without a limit. #}
{% set total = clone(query).count() %}
{% set rows = query
    .offset(offset)
    .limit(limit)
    .all() %}
{% set elementIds = rows|map(row => row.elementId) %}
{% set elements = craft.blitz.diagnostics.getElementsFromIds(siteId, elementType, elementIds) %}
{% set isEntryElementType = elementType == 'craft\\elements\\Entry' %}

<div s-replace="#results" s-swap="outerHTML show:#main:top" s-indicator="#results .elements">
    <div class="search-container flex-grow texticon has-filter-btn">
        <span class="texticon-icon search icon" aria-hidden="true"></span>
        <input sprig s-trigger="keyup changed delay:400ms" name="search" type="text" class="clearable text fullwidth" autocomplete="off" placeholder="Search">
    </div>
    <div id="results">
        {{ hiddenInput('sortBy', sortBy) }}
        <div class="elements">
            <div class="tableview">
                <table class="data fullwidth">
                    <thead>
                        <tr>
                            <th class="ordered {{ sortBy == 'desc' ? 'desc' }} orderable">
                                <button type="button" sprig s-val:sort-by="{{ sortBy == 'asc' ? 'desc' : 'asc' }}">
                                    Owner / Nested {{ displayName }}
                                </button>
                            </th>
                            {% if cacheId %}
                                <th>
                                    {{ 'Tracked Fields'|t('blitz') }}
                                </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% set currentOwnerId = null %}
                        {% for row in rows %}
                            {% set element = elements[row.elementId] ?? null %}
                            {% if element %}
                                {% if currentOwnerId != element.ownerId %}
                                    {% set owner = element.owner %}
                                    {% set currentOwnerId = owner.id %}
                                    <tr class="owner">
                                        <th style="padding-left: 24px;">
                                            <button type="button" data-id="{{ owner.id }}" class="toggle expanded" title="Show/hide nested elements"></button>
                                            {{ craft.blitz.diagnostics.getElementChip(element.owner, 'blitz/diagnostics/elements/pages-includes') }}
                                        </th>
                                    </tr>
                                {% endif %}
                                <tr class="nested-{{ owner.id }}">
                                    <td style="padding-left: 48px;">
                                        {{ craft.blitz.diagnostics.getNestedElementChip(element, 'blitz/diagnostics/elements/pages-includes', row.sortOrder) }}
                                    </td>
                                    {% if cacheId %}
                                        <td>
                                            {% set fields = craft.blitz.diagnostics.getPageElementFields(cacheId, row.elementId) %}
                                            {{ fields|length|number }}
                                            {% if fields|length > 0 %}
                                                <span class="info">
                                                    <h2>{{ 'Tracked Fields'|t('blitz') }}</h2>
                                                    <table class="data fullwidth">
                                                        <thead>
                                                            <th>{{ 'Name'|t('app') }}</th>
                                                            <th>{{ 'Handle'|t('app') }}</th>
                                                            <th>{{ 'Field Type'|t('app') }}</th>
                                                            {% if isEntryElementType %}
                                                                <th>{{ 'Entry Type'|t('app') }}</th>
                                                            {% endif %}
                                                        </thead>
                                                        <tbody>
                                                            {% for field in fields %}
                                                                <tr>
                                                                    <td class="thin">
                                                                        {{ field.name }}
                                                                    </td>
                                                                    <td class="thin code">
                                                                        {{ field.handle }}
                                                                    </td>
                                                                    <td class="thin">
                                                                        <div class="flex flex-nowrap gap-s">
                                                                            <div class="cp-icon small">
                                                                                {{ iconSvg(field.icon) }}
                                                                            </div>
                                                                            <a href="{{ url('settings/fields/edit/' ~ field.id) }}">
                                                                                {{ field.displayName }}
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                    {% if isEntryElementType %}
                                                                        <td class="thin">
                                                                            <a href="{{ url('settings/entry-types/' ~ element.typeId) }}">
                                                                                {{ element.type.name }}
                                                                            </a>
                                                                        </td>
                                                                    {% endif %}
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </span>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="update-spinner spinner spinner-absolute"></div>
        </div>
        {{ include('blitz/_utilities/diagnostics/_includes/footer', { rows: elements, nested: true }) }}
    </div>
</div>
