{% set orderBy = orderBy ?? 'count' %}
{% set sortBy = sortBy ?? 'desc' %}
{% set offset = offset ?? 0 %}
{% set limit = 50 %}
{% set search = search ?? null %}
{% set rows = craft.blitz.diagnostics.getParams(siteId) %}
{% if search %}
    {% set rows = rows|filter((count, param) => search in param) %}
{% endif %}
{% set order = [ (orderBy) ] %}
{% set sort = [ sortBy == 'desc' ? SORT_DESC : SORT_ASC ] %}
{% if orderBy != 'param' %}
    {% set order = order|push('param') %}
    {% set sort = sort|push(SORT_ASC) %}
{% endif %}
{% set rows = rows|multisort(order, sort) %}
{% set total = rows|length %}
{% set rows = rows|slice(offset, limit) %}
{% set maxVisible = rows|length + offset %}

<div s-replace="#results" s-swap="outerHTML show:#main:top" s-indicator="#results .elements">
    <div class="search-container flex-grow texticon has-filter-btn">
        <span class="texticon-icon search icon" aria-hidden="true"></span>
        <input sprig s-trigger="keyup changed delay:400ms" name="search" type="text" class="clearable text fullwidth" autocomplete="off" placeholder="Search">
    </div>
    <div id="results">
        {{ hiddenInput('orderBy', orderBy) }}
        {{ hiddenInput('sortBy', sortBy) }}
        <div class="elements">
            <table class="data fullwidth">
                <thead>
                    <tr>
                        <th class="{{ orderBy == 'param' ? 'ordered' }} {{ sortBy == 'desc' ? 'desc' }} orderable">
                            <button type="button" sprig s-val:order-by="param" s-val:sort-by="{{ orderBy == 'param' and sortBy == 'asc' ? 'desc' : 'asc' }}">
                                {{ 'Query String Param'|t('blitz') }}
                            </button>
                        </th>
                        <th class="{{ orderBy == 'count' ? 'ordered' }} {{ sortBy == 'desc' ? 'desc' }} orderable">
                            <button type="button" sprig s-val:order-by="count" s-val:sort-by="{{ orderBy == 'count' and sortBy == 'desc' ? 'asc' : 'desc' }}">
                                {{ 'Pages'|t('blitz') }}
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td class="code">
                                <a href="{{ url('blitz/diagnostics/params/param', {
                                    param: row.param,
                                }) }}">
                                    {{ row.param }}
                                </a>
                            </td>
                            <td>
                                {{ row.count|number }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="update-spinner spinner spinner-absolute"></div>
        </div>
        {{ include('blitz/_utilities/diagnostics/_includes/footer') }}
    </div>
</div>
