{% extends 'blitz/_utilities/diagnostics/layouts/base' %}

{% set title = 'Tracked Element Queries'|t('blitz') %}
{% set elementQueryTypes = craft.blitz.diagnostics.getElementQueryTypes(siteId) %}

{% block pageTitle %}
    <div class="page-title flex">
        <h1 class="screen-title" title="{{ title }}">{{ title }}</h1>
        {% if craft.app.getIsMultiSite() %}
            {% include '_elements/sitemenu' with {
                selectedSiteId: siteId,
                urlFormat: 'blitz/diagnostics/element-queries?site={handle}',
            } only %}
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="elements">
        <table class="data fullwidth">
            <thead>
                <tr>
                    <th>
                        {{ 'Element Query Type'|t('blitz') }}
                    </th>
                    <th>
                        {{ 'Element Queries'|t('blitz') }}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for elementQueryType in elementQueryTypes %}
                    <tr>
                        <td>
                            <a href="{{ url('blitz/diagnostics/element-queries/element-query-type', {
                                elementType: elementQueryType.type
                            }) }}">
                                {{ create(elementQueryType.type).displayName }} Queries
                            </a>
                        </td>
                        <td>
                            {{ elementQueryType.count|number }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
