<div id="crumbs">
    <ul class="breadcrumb-list">
        <li>
            <a href="{{ cpUrl('utilities/blitz-diagnostics') }}">
                {{ 'Tracked Pages'|t('blitz') }}
            </a>
        </li>
        {% if thirdLevel ?? null %}
            <li class="code">
                <a href="{{ cpUrl('utilities/blitz-diagnostics', { id: page.id }) }}">
                    {{ page.uri }}
                </a>
            </li>
            <li class="code">
                {{ thirdLevel }}
            </li>
        {% else %}
            <li class="code">
                {{ page.uri }}
            </li>
        {% endif %}
    </ul>
</div>
