{% extends 'blitz/_utilities/diagnostics/layouts/page' %}

{% set elementTypes = craft.blitz.diagnostics.getPageElementTypes() %}
{% set elementQueryTypes = craft.blitz.diagnostics.getPageElementQueryTypes() %}
{% set isPage = true %}

{% block content %}

    <h1>
        {{ elementTypes|length ? 'Tracked Element Types'|t('blitz') : 'No Tracked Element Types'|t('blitz') }}
    </h1>

    {% if elementTypes|length %}
        <div class="elements">
            <table class="data fullwidth">
                <thead>
                    <tr>
                        <th>
                            {{ 'Element Type'|t('blitz') }}
                        </th>
                        <th>
                            {{ 'Elements'|t('blitz') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for elementType in elementTypes %}
                        <tr>
                            <td class="code">
                                <a href="{{ cpUrl('utilities/blitz-diagnostics/pages/element-type', {
                                    pageId: page.id,
                                    elementType: elementType.type
                                }) }}">
                                    {{ elementType.type }}
                                </a>
                            </td>
                            <td>
                                {{ elementType.count|number }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br><br>
    {% endif %}

    <h1>
        {{ elementQueryTypes|length ? 'Tracked Element Query Types'|t('blitz') : 'No Tracked Element Query Types'|t('blitz') }}
    </h1>

    {% if elementQueryTypes|length %}
        <div class="elements">
            <table class="data fullwidth">
                <thead>
                    <tr>
                        <th>
                            {{ 'Element Query Type'|t('blitz') }}
                        </th>
                        <th>
                            {{ 'Element Queries'|t('blitz') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for elementQueryType in elementQueryTypes %}
                        <tr>
                            <td class="code">
                                <a href="{{ cpUrl('utilities/blitz-diagnostics/pages/element-query-type', {
                                    pageId: page.id,
                                    elementType: elementQueryType.type
                                }) }}">
                                    {{ elementQueryType.type }}
                                </a>
                            </td>
                            <td>
                                {{ elementQueryType.count|number }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
